<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit banner</title>
</head>
<body>

<form>
    <fieldset>
        <legend>Характеристики баннера</legend>
        ImgSrc:    <br /><input type='text' id='imgSrc' /><br />
        Width:     <br /><input type='number' id='width' /><br />
        Height:    <br /><input type='number' id='height' /><br />
        TargetUrl: <br /><input type='text' id='targetUrl' /><br />
        LangId:    <br /><input type='text' id='langId' />
    </fieldset>
</form> <br/>
<input id="editBut" type="submit" value="Редактировать" /><br/><br/>
<a href="/">Главная</a>

</body>
</html>